<%= form_for :user, :url => {:action => :create} do |f| %>
  <div class="clearfix">
    <%= f.label 'Login' %>
    <div class="input">
      <%= f.text_field :login %>
    </div>
  </div>
  
  <div class="clearfix"> 
    <%= f.label 'Password' %>
    <div class="input">
      <%= f.password_field :passwd %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Log in', :class => 'btn default small' %>
  </div>
<% end %>
