<%= form_for :user, :url => {:action => :create} do |f| %>
  <div class="control-group">
    <%= f.label 'Login' %>
    <div class="controls">
      <%= f.text_field :login %>
    </div>
  </div>
  
  <div class="control-group"> 
    <%= f.label 'Password' %>
    <div class="controls">
      <%= f.password_field :passwd %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit 'Log in', :class => 'btn default' %>
  </div>
<% end %>
