<%= form_for(@note) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="clearfix">
    <%= f.label :category_id %>
    <div class="input">
      <%= f.select :category_id, @categories.map{|o| [o.name, o.id]} %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :public_visible %>
    <div class="input">
      <%= f.check_box :public_visible %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :title %>
    <div class="input">
      <%= f.text_field :title, :class => 'span12' %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :description %>
    <div class="input">
      <%= f.text_area :description, :class => 'span12' %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit 'Save', :class => 'btn primary small' %>
    <%= f.submit 'Cancel', :value => 'cancel', :class => 'btn small' %>
  </div>
<% end %>
