<% unless @notes.blank? %>
  <div class="row">
  <% @notes.each do |note| %>
    <div class="span4">
      <div class="note">
        <h2><%= link_to(highlight(note.title, params[:search]), note) %></h2>
        <%= highlight(pretty_print(note.description), params[:search]) %>
        <div class="gradient"></div>
      </div>
    </div>
  <% end %>
  </div>

  <%= will_paginate @notes %>
<% else %>
  <%= info 'No notes found.' %>
<% end %>

<%= javascript_tag do %>
  $('#notes-count').html('<b><%= "#{pluralize(@notes.count, 'note')}" %></b>');
<% end %>