<div class="row">
  <div class="span14">
    <%= form_tag '#', :id => 'search-form', :method => :get do %>
      <%= text_field_tag 'search', params[:search], :class => 'span5 search' %>
      <div id="notes-count"><b><%= "#{pluralize(@notes.count, 'note')}" %></b></div>
    <% end %>
  </div>
  <div class="span2">
    <% if @logged_user.present? %>
      <%= link_to 'New Note', new_note_path, :class => 'btn primary small'  %>
    <% end %>
  </div>
</div>

<div id="notes-list">
  <%= render :partial => 'notes' %>
</div>
