<h1>Editing user</h1>

<%= form_for @user, :html => {:class => 'form-horizontal'} do |f| %>
  <%= error_messages_for :user %>

  <div class="control-group">
    <%= f.label :login, 'Login' %>
    <div class="controls">
      <%= f.text_field :login %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :first_name, 'First name' %>
    <div class="controls">
      <%= f.text_field :first_name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :last_name, 'Last name' %>
    <div class="controls">
      <%= f.text_field :last_name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, 'E-mail' %>
    <div class="controls">
      <%= f.text_field :email %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :admin, 'Admin role' %>
    <div class="controls">
      <%= f.check_box :admin %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit 'Save', :class => 'btn btn-primary' %>
    <%= f.submit 'Cancel', :value => 'cancel', :class => 'btn' %>
  </div>
<% end %>
