<%= form_for @user, :url => passwd_user_path, :html => {:class => 'form-horizontal'} do |f| %>
  <%= error_messages_for :user %>

  <div class="control-group">
    <%= f.label :passwd, 'Password' %>
    <div class="controls">
      <%= f.password_field :passwd %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :passwd_confirmation, 'Password confirmation' %>
    <div class="controls">
      <%= f.password_field :passwd_confirmation %>
    </div>
  </div>
  
  <div class="form-actions">
    <%= f.submit 'Save', :class => 'btn btn-primary' %>
    <%= f.submit 'Cancel', :value => 'cancel', :class => 'btn' %>
  </div>
<% end %>
