<h2>User info</h2>

<p>
  <%= image_tag @user.get_gravatar_path, :width => 64, :height => 64 %>
</p>

<p>
  <b>Login:</b>
  <%= @user.login %>
</p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>E-mail:</b>
  <%= @user.email %>
</p>

<p>
  <b>Admin:</b>
  <% if @user.admin %>
    <span class="label success">Yes</span>
  <% else %>  
    <span class="label">No</span>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(:id => @user.id), :class => 'btn small' %>
<%= link_to 'Change password', passwd_user_path(:id => @user.id), :class => 'btn small' %>
<% if is_admin? %>
  <%= link_to 'Destroy', user_path(:id => @user.id), :confirm => 'Are you sure?', :method => :delete, :class => 'btn danger small' %>
<% end %>
