<!DOCTYPE html>
<html>
<head>
  <title>DevNotes</title>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="topbar">
    <div class="fill">
      <div class="container">
        <div class="brand">Dev Notes</div>
       
        <ul class="nav">
          <li <%= 'class=active' if controller.class.to_s == 'NotesController' %>><%= link_to 'Notes', notes_path %></li>
          <li <%= 'class=active' if controller.class.to_s == 'CategoriesController' %>><%= link_to 'Categories', categories_path %></li>
          <% if is_admin? %>
            <li <%= 'class=active' if controller.class.to_s == 'Admin::CategoriesController' %>><%= link_to 'Categories list', admin_categories_path %></li>
            <li <%= 'class=active' if controller.class.to_s == 'Admin::UsersController' %>><%= link_to 'Users list', admin_users_path %></li>
          <% end %>
        </ul>
        
        <% unless @logged_user.blank? %>
          <p class="pull-right">
            Logged as: <%= link_to @logged_user.full_name, user_path(@logged_user) %>&nbsp;<%= link_to 'Log out', {:controller => '/sessions', :action => :destroy}, :method => :delete, :class => 'btn danger smaller' %>
          </p>
        <% else %>
          <p class="pull-right">
            <%= link_to 'Log in', new_sessions_path, :class => 'btn small' %>
          </p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="content">
      <% unless flash[:error].blank? %>
        <div class="alert-message error">
          <%= flash[:error] %>
        </div>
      <% end %>

      <% unless flash[:notice].blank? %>
        <div class="alert-message success">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <%= yield %>
    </div>

    <footer>
      <p>&copy; 2011</p>
    </footer>
  </div> 

</body>
</html>
